.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 52px 112px 0px 100px;
   .logo{
        z-index: 3;
    }
    .div-top-hypers {
        display:flex;
        align-items: center;
    }
        .ul-top-hypers{
            display: flex;
            justify-content: center;
            align-items: center;
            list-style: none;
        }
            .a-top-hypers{
                text-decoration: none;
                color: black;
                font-family: gilroy-normal;
                margin: 0px 40px 0px 40px;
            }
            .a-top-hypers:hover{
                color: #96A4F4;
            }
            .a-top-hypers:active{
                border-bottom: 2px solid #4B61C3;
                ;
            }
            .burger-menu{
                display: none;
                z-index: 3;
            }
}
.btn{
    color: #FFFFFF;
    font-size: 18px;
    padding: 21px;
    border-radius: 10px;
    background: #4B61C3;
    border: none;
    text-decoration: none;
    width: 168px;
    height: 60px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn:hover{
    background: #93A3F9;
    text-decoration: none;
    background: linear-gradient(0deg, #93A3F9, #93A3F9);
}


@media (max-width: 1200px){
    .nav-container{
        margin: 52px 31px 0px 60px;
        .div-top-hypers {
            margin-right: 30px; 
        }
        .a-top-hypers{
            margin: 20px;
        }
        .ul-top-hypers{
            padding-right: 10px;
        }
    }
}
@media (max-width: 960px){
    .hide{
        transform: translateY(-63px);
    }
    .nav-container{
        height: auto;
        margin: 20px 23px 0px 22px;
        position: fixed;
        top: 0;
        right: 0; 
        left: 0;
        z-index: 3;

        transition: transform .3s linear;
        .div-top-hypers {
            display: none;
        }
        .ul-top-hypers{
            display: none;
        }
        .burger-menu__btn{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 24px;
            height: 14px;
            cursor: pointer;
            transition: all .3s ease-in-out;
        }
        .burger-menu__btn-inner{
            display: flex;
            justify-content: flex-end;
            width: 24px;
            height: 2px;
            background: #24285B;
            border-radius: 2px;
            transition: all .3s ease-in-out;
        }
        .burger-menu__btn-inner::before,
        .burger-menu__btn-inner::after{
            content: '';
            position: absolute;
            width: 16px;
            height: 2px;
            background: #24285B;
            border-radius: 2px;
            transition: all .3s ease-in-out;
        }
        .burger-menu__btn-inner::before{
            transform: translateY(-4px);
        }
        .burger-menu__btn-inner::after{
            transform: translateY(4px);
        }
        .burger-menu__btn.open .burger-menu__btn-inner{
            transform: translateX(-50px);
            background: transparent;
            box-shadow: none;
        }
        .burger-menu__btn.open .burger-menu__btn-inner::before{
            transform: rotate(45deg) translate(35px, -35px);
            width: 24px;
        }
        .burger-menu__btn.open .burger-menu__btn-inner::after{
            transform: rotate(-45deg) translate(35px, 35px);
            width: 24px;
        }
        .burger-menu{
            display: block;
        }
    }
}