.contact-container
    img.rectangle(src="images/rectangle-contact.svg", alt="rectangle")
    .contact-contactUs
        .contact-info
            .contact-line
            .contact-title 
                span.contact-color-text Contact 
                span.contact-heading-text Us
            .contact-description We provide multiple cybersecurity services adapted to your needs
            .contact-email 
                span.mail-text Email 
                span.mail-contact contact@broulabs.com
            button.btn.btn-contactUs Contact Us
    .contact-map
        img(src="images/map.svg", alt="map")
        .contact-icon
            img(src="images/logo-icon.svg", alt="logo-icon")
    //- footer section
    .footer-nav
        .footer-policy
            .footer-privacy Privacy Policy 
            .footer-cookies Cookies Policy
            .footer-terms Terms and Conditions
        .footer-right Broulabs © 2020. All right reserved