.customers-container
    .customers-ourCustomers
        .customers-line
        .customers-info
            .customers-title
                span.customers-color-text Our 
                span.customers-heading-text Customers
            .customers-description We provide multiple cybersecurity services adapted to your needs
        .customers-frame
            img(src="images/customers-frame.svg", alt="customers-frame")
    .customers-logo
        .customers-logo-item
            img(src="images/customers-icon-1.svg", alt="customers-icon")
        .customers-logo-item
            img(src="images/customers-icon-2.svg", alt="customers-icon")
        .customers-logo-item
            img(src="images/customers-icon-1.svg", alt="customers-icon")
        .customers-logo-item
            img(src="images/customers-icon-3.svg", alt="customers-icon")
        .customers-logo-item
            img(src="images/customers-icon-3.svg", alt="customers-icon")
        .customers-logo-item
            img(src="images/customers-icon-1.svg", alt="customers-icon")
        .customers-logo-item
            img(src="images/customers-icon-2.svg", alt="customers-icon")
        .customers-logo-item
            img(src="images/customers-icon-1.svg", alt="customers-icon")
        .customers-logo-item
            img(src="images/customers-icon-1.svg", alt="customers-icon")
        .customers-logo-item
            img(src="images/customers-icon-2.svg", alt="customers-icon")
        .customers-logo-item
            img(src="images/customers-icon-1.svg", alt="customers-icon")
        .customers-logo-item
            img(src="images/customers-icon-3.svg", alt="customers-icon")