nav.nav-container
    .logo
        img(src="images/logo.svg", alt="logo")
    .div-top-hypers
        ul.ul-top-hypers
            li
                a.a-top-hypers(href="http://") About Us
            li
                a.a-top-hypers(href="http://") Services
            li
                a.a-top-hypers(href="http://") Customers
            li
                a.a-top-hypers(href="http://") Our Team
            button.btn.btn-contactUs Contact Us