.mobMenu-conteiner
    .mob-hypers
         ul.ul-mob-hypers
            li
                a.a-mob-hypers.mobLinks(href="#aboutUs") About Us
            li
                a.a-mob-hypers.mobLinks(href="#services") Services
            li
                a.a-mob-hypers.mobLinks(href="#customers") Customers
            li
                a.a-mob-hypers.mobLinks(href="#ourTeam") Our Team
            li
                a.a-mob-hypers.mobLinks(href="#") Contacts
    .mob-policy
        ul.ul-mob-policy
            li 
                a.a-mob-policy.mobLinks(href="#") Privacy Policy 
            li 
                a.a-mob-policy.mobLinks(href="#") Cookies Policy
            li 
                a.a-mob-policy.mobLinks(href="#") Terms and Conditions