.services-container
    img.rectangle(src="images/rectangle.svg", alt="rectangle")
    .services-title
        .services-line
        .services-title-text
            span.services-color-text Our 
            span.services-heading-text Services
            span.services-description-text We provide multiple cybersecurity services adapted to your needs
    .services-cards
        .services-card
            .services-card-icon
                img(src="images/services-icon-1.svg", alt="services-icon-1")
            .services-card-title Web Security Audit
            .services-card-description Our team performs top tier web security audits following the OWASP methodology to analyze and evaluate your site weaknesses.
        .services-card
            .services-card-icon
                img(src="images/services-icon-2.svg", alt="services-icon-2")
            .services-card-title Mobile Security Audit
            .services-card-description We conduct security audit and testing on your mobile applications to detect any potential vulnerabilities that could affect your users or infrastructure.
        .services-card
            .services-card-icon
                img(src="images/services-icon-3.svg", alt="services-icon-3")
            .services-card-title Source Code Audit
            .services-card-description Source code reviews are an important part for securing your SDLC. We will manually review your code in order to detect any potential vulnerabilities and design software securely.
        .services-card
            .services-card-icon
                img(src="images/services-icon-4.svg", alt="services-icon-4")
            .services-card-title Smart Contract Security Audit
            .services-card-description Our team manually reviews the source code and design of your smart contracts to identify vulnerabilities, analyzes their impact, and provides advice to improve the security of your product.
        .services-card
            .services-card-icon
                img(src="images/services-icon-5.svg", alt="services-icon-5")
            .services-card-title Managed Bug Bounty Program
            .services-card-description With over 6 years of experience managing and participating in bug bounty programs, our team will help set up your bug bounty program and ensure it becomes a success.
        .services-card.services-card-callToAction
            .callToAction-question
                span.services-card-color-white Looking For Something 
                span.services-card-color Different? 
            button.btn-contactUs-white Contact Us





