.team-container
    .team-info
        .team-line
        .team-title The Team
        .team-name Juan Broullon
        .team-description Juan Broullon is a person passionate about cybersecurity. His experience includes working as a security consultant and application security engineer for multiple successful security teams at companies like GitLab or Shopify.
        .team-social
            img.team-social-icon(src="images/linkedin-icon.svg", alt="linkedin-icon")
    .team-image
         img.team-image-photo(src="images/team-photo.svg", alt="team-photo")