.mainBlock-conteiner
    img.rectangle(src="images/rectangle.svg", alt="rectangle")
    .request-section
        h1.h1-main
            span.color-text Cybersecurity Services
            span.heading-text Adapted To Your Business Needs
        span.description-text Our services are informed by extensive experience providing advice to security teams of different sizes, discovering a wide range of vulnerabilities, managing bug bounty programs and meaningful solutions for advanced problems
        button.btn.btn-request Request A Quote
    .mainBlockImg
        img.main-frame(src="images/mainFrame.svg", alt="mainFrame")