.customers-container{
    display: flex;
    padding-top: 130px;
    justify-content: space-between;
    .customers-ourCustomers{
        width: 540px;
    }
    .customers-line{
        margin: 0px 0px 35px 200px;
        content: "";
        height: 9px;
        width: 107px;
        background: linear-gradient(90deg, rgba(163, 183, 233, 0.35) 2.8%, rgba(255, 203, 204, 0.35) 100%), #FFD7D9;
    }
    .customers-info{
        margin-left: 200px;
    }
    .customers-color-text{
        color: #24285B;
        font-family: gilroy-bold;
    }
    .customers-heading-text{
        color: #4E66D2;
        font-family: gilroy-bold;
    }
    .customers-title{
        font-size: 48px;
        margin: auto;
    }
    .customers-description{
        font-family: gilroy-normal;
        font-size: 18px;
        margin-top: 30px;
        display: block;
        margin-bottom: 80px;
    }
    .customers-frame{
        margin: 92px 0px 0px 110px;
    }
}
.customers-logo{
    display: grid;
    padding-right: 90px;
    padding-top: 200px;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.customers-logo-item{
    align-items: center;
    height: 200px;
    display: flex;
    justify-content: center;
}
@media (max-width: 1680px){
    .customers-container{
        .customers-line{
            margin: 0px 0px 35px 150px;
        }
        .customers-info{
            margin-left: 150px;
        }
        .customers-frame{
            margin: 73px 0px 0px 50px;
            width: 474px;
        }
        .customers-frame>img{
            width: 474px;
        }
    }
    .customers-logo{
        padding-right: 90px;
        padding-top: 130px;
    }
    .customers-logo-item{
        width: 180px;
        height: 175px;

    }
}
@media (max-width: 1360px){
    .customers-container{
        .customers-line{
            margin: 0px 0px 30px 100px;
        }
        .customers-info{
            margin-left: 100px;
        }
        .customers-frame{
            margin: 80px 0px 0px 50px;
            width: 360px;
        }
        .customers-frame>img{
            width: 360px;
        }
    }
    .customers-logo{
        display: grid;
        padding-top: 0px;
        height: 100%;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
    .customers-logo-item{
        width: 195px;
        height: 140px;
    }
}
@media (max-width: 1110px){
    .customers-container{
        .customers-line{
            margin: 0px 0px 30px 100px;
        }
        .customers-info{
            margin-left: 100px;
            width: 340px;
        }
        .customers-frame{
            margin: 80px 0px 0px 50px;
            width: 360px;
        }
        .customers-frame>img{
            width: 360px;
        }
    }
    .customers-logo{
        display: grid;
        padding-top: 53px;
        padding-right: 33px;
        height: 100%;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
    .customers-logo-item{
        width: 175px;
        height: 120px;
    }
}
@media (max-width: 1000px){
    .customers-container{
        padding-top: 50px;
        margin: 0px 0px 0px 0px;
        flex-direction: column;
        align-items: center;
        .customers-ourCustomers{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
        }
        .customers-line{
            height: 4px;
            width: 50px;
            margin: 0px 0px 20px 0px;
        }
        .customers-info{
            margin: 0px 0px 20px 0px;
            width: 260px;
            text-align: center;
        }
        .customers-frame{
            margin: 0px;
            width: 300px;
        }
        .customers-frame>img{
            width: 300px;
        }
        .customers-title{
            font-size: 28px;
        }
        .customers-description{
            font-size: 14px;
            margin-top: 20px 0px 35px 0px;
        }
    }
    .customers-logo{
        display: grid;
        justify-items: center;
        padding: 0px 0px 0px 0px;
        height: 100%;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .customers-logo div:nth-child(n+10){
        display: none;
    }
    .customers-logo-item{
        width: 100px;
        height: 80px;
    }
    .customers-logo-item>img{
        width: 100px;
        height: 80px;
    }
}