@font-face {
    font-family: 'gilroy-normal';
    src: url("/fonts/Gilroy/Gilroy-Regular.ttf");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'gilroy-bold';
    src: url("/fonts/Gilroy/Gilroy-Bold.ttf");
    font-weight: 800;
    font-style: normal;
}