.lock{
    margin-top: 22px;
    display: flex;
    position: relative;
    justify-content: center;
    background-image: url(../images/circles-lock.svg);
    background-size: contain;
    .rectangle{
        position: absolute;
        left: 0px;
    }
    .rectangle-left{
        position: absolute;
        right: 0;
        top: -320px;
        transform: rotate(180deg);
    }
}