.lock{
    margin-top: 22px;
    display: flex;
    position: relative;
    justify-content: center;
    background-image: url(../images/circles-lock.svg);
    background-size: contain;
    .rectangle{
        position: absolute;
        left: 0px;
    }
    .rectangle-left{
        position: absolute;
        right: 0;
        top: -320px;
        transform: rotate(180deg);
    }
    .lock-img-1440{
        display: none;
    }
}

@media (max-width: 1440px){
    .lock{
        .rectangle{
            display: none;
        }
        .rectangle-left{
            display: none;
        }
        .lock-img{
            display: none;
        }
        .lock-img-1440{
            display: block;
            width: 100%;
            max-width: 1000px;
        }
    }
}